<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Time</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="data:,">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Sport Time</span>
            </a>
        </header>

        {% if events %}
            {% for el in events %}
                <div class="alert alert-primary">
                    <h3>{{ el.name }}</h3>
                    <p>Sport: {{ el.sport_name }}</p>
                    <p>Date: {{ el.date }}</p>
                </div>
                <ul class="list-group">
                    {% for athlete in el.participants.all %}
                        <li class="list-group-item">{{ athlete.name }}</li>
                    {% endfor %} 
                </ul>
                <p></p>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                <h3>No Record</h3>
            </div>
        {% endif %}
    </div>
</body>
</html>